<template>
    <div
        class="el-card"
        :class="{'always-shadow': shadow === 'always',
         'hover-shadow': shadow === 'hover'}"
    >
        <div class="el-card-header">
            <slot name="header"></slot>
        </div>
        <div class="el-card-body">
            <slot></slot>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        shadow: {
            default: "always",
            validator(val) {
                return ["always", "hover", "never"].indexOf(val) !== -1;
            }
        }
    }
};
</script>

<style>
.el-card {
    width: 100%;
    border: 1px solid #ebeef5;
    border-radius: 4px;
    background: #fff;
}

.el-card.always-shadow {
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}

.el-card.hover-shadow:hover {
    transition: box-shadow .3s;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}

.el-card-header {
    padding: 18px 20px;
    border-bottom: 1px solid #ebeef5;
}

.el-card-body {
    padding: 20px;
}
</style>