<template>
    <transition name="small-remove">
        <el-card
            ref="card"
            class="slide-card"
            :body-style="bodyStyle"
            :shadow="shadow"
            :style="cardStyle"
            @mousedown.native="start"
            @mousemove.native="move"
            @mouseup.native="end"
            @dragstart.native="dragStart"
            @touchstart.native="start"
            @touchmove.native="move"
            @touchend.native="end"
        >
            <template v-slot:header>
                <slot name="header"></slot>
            </template>
            <slot></slot>
        </el-card>
    </transition>
</template>

<script>
import ElCard from "./ElCard";
export default {
    components: {
        ElCard
    },
    props: ["bodyStyle", "shadow"],
    data() {
        return {
            isDrag: false,
            cardLeft: "",
            cardTop: "",
            shiftX: "",
            shiftY: "",
            originX: "",
            originY: "",
            card: ""
        };
    },
    computed: {
        cardStyle() {
            return {
                left: this.cardLeft + "px",
                top: this.cardTop + "px",
                transform: `rotate(${(this.cardLeft -
                    this.originX -
                    this.cardTop +
                    this.originY) *
                    0.15}deg)`
            };
        }
    },
    methods: {
        start(e) {
            e = e.targetTouches ? e.targetTouches[0] : e;
            this.shiftX = e.clientX - this.card.getBoundingClientRect().left;
            this.shiftY = e.clientY - this.card.getBoundingClientRect().top;
            this.originX = e.pageX - this.shiftX;
            this.originY = e.pageY - this.shiftY;
            this.moveAt(e.pageX, e.pageY);
            this.card.style.position = "absolute";
            this.isDrag = true;
        },
        move(e) {
            if (!this.isDrag) {
                return;
            }
            e = e.targetTouches ? e.targetTouches[0] : e;
            this.moveAt(e.pageX, e.pageY);
        },
        end() {
            this.$emit("move", this.cardLeft, this.cardTop);
            this.moveAt(this.originX + this.shiftX, this.originY + this.shiftY);
            this.isDrag = false;
        },
        moveAt(pageX, pageY) {
            this.cardLeft = pageX - this.shiftX;
            this.cardTop = pageY - this.shiftY;
        },
        dragStart() {
            return false;
        }
    },
    mounted() {
        this.card = this.$refs.card.$el;
    }
};
</script>

<style>
.slide-card {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.small-remove-leave-active {
    transition: all 2s;
}

.small-remove-leave-to {
    left: -1000px !important;
    transform: rotate(-1080deg) scale(0) !important;
}
</style>