<template>
    <div id="app">
        <slide-card
            class="box-card"
            :style="{'margin-top': -index * 10 + 'px', 
					'margin-left': index * 5 + 'px',
					'z-index': -index}"
            v-for="(card, index) in cards"
            :key="card.id"
            :shadow="index === 0 ? 'always' : 'never'"
            @move="move"
        >
            <template v-slot:header>时间</template>
            <span>
                现在时间是
                <em style="color: red">{{card.time}}</em>
            </span>
        </slide-card>
    </div>
</template>

<script>
import SlideCard from "./components/SlideCard";
export default {
    name: "app",
    components: {
        SlideCard
    },
    data() {
        return {
            cards: []
        };
    },
    methods: {
        addCard(num = 1) {
            for (let i = 0; i < num; i++) {
                this.cards.push({
                    id: Math.random(),
                    time: Date.now(),
                    show: true
                });
            }
        },
        move(left) {
            if (Math.abs(left) >= 100) {
                this.cards.shift();
                this.addCard();
            }
        }
    },
    mounted() {
        this.addCard(3);
    }
};
</script>

<style>
* {
    padding: 0;
    margin: 0;
}

body {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-card {
    position: absolute;
    width: 40%;
}
</style>
